@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

.container {
  text-align: center;
  padding: 25px;
  margin: 10px;
}
img {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.75);
  border-radius: 19px;
}
body {
  font-size: 16px;
  font-family: Electrolize, inherit;
  font-weight: 5px;
  background: rgb(200, 231, 229);
}

.info {
  font-size: x-large;
  background: rgba(102, 51, 153, 0.453);
  border-radius: 7px;
  padding: 10px;
  display: flex;
}
.info a {
  padding: 20px;
  margin: 20px;
}
@media (max-width: 1400px) {
  .info {
    padding: 23px;
    font-size: 26px;
    text-align: center;
    display: block;
  }
}
@media (max-width: 700px) {
  .info {
    padding: 13px;
    font-size: 16px;
    text-align: center;
    display: block;
  }
}

@media (max-width: 300px) {
  .container {
    font-size: 7px;
    text-align: center;
    display: block;
  }
}

.link {
  text-decoration: none;
  border: 10px;
  background: rgb(197, 199, 202);
  color: black;
}
.link:active {
  color: orangered;
  opacity: 0, 8;
}
.link:hover {
  color: blueviolet;
  background: none;
}
.link:visited {
  color: orangered;
}
.unit {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: rgba(122, 0, 244, 0.259);
  border-radius: 20px;
}
.unit:hover tr:nth-child(1),
.unit:hover tr:nth-child(2),
.unit:hover tr:nth-child(3),
.unit:hover tr:nth-child(4) {
  background: greenyellow;
  cursor: pointer;
}

.thead {
  font-size: x-large;
}

.card {
  font-size: x-large;
  background: rgba(102, 51, 153, 0.453);
  border-radius: 7px;
  width: 100%;
  padding: 10px;
}
textarea {
  width: 90%;
}
.card:hover {
  background: greenyellow;
  cursor: pointer;
}
.card-form {
  padding: 20px;
  text-align: left;
  display: inline;
}
@media (max-width: 1400px) {
  .card {
    padding: 23px;
    font-size: 26px;
    text-align: center;
    display: block;
  }
}
@media (max-width: 1400px) {
  .card-form {
    padding: 23px;
    font-size: 26px;
    text-align: center;
    display: block;
  }
}
@media (max-width: 700px) {
  .card {
    padding: 12px;
    font-size: 16px;
    text-align: center;
    display: block;
  }
}
@media (max-width: 700px) {
  .card-form {
    padding: 12px;
    width: 90%;
    font-size: 16px;
    text-align: center;
    display: block;
  }
}
@media (max-width: 500px) {
  .card {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    display: block;
  }
}
@media (max-width: 500px) {
  .card-form {
    padding: 10px;
    width: 50%;
    font-size: 12px;
    text-align: center;
    display: block;
  }
}
li {
  font-size: large;
  font-weight: 5px;
  list-style-type: none;
}
.btn {
  border-width: 5px;
  border-color: greenyellow;
  opacity: 0.8;
  color: greenyellow;
  background: rgb(83, 79, 79);
}
.btn:hover {
  cursor: pointer;
  color: black;
  border: none;
  background: none;
}

.button {
  padding: 15px;
  text-align: right;
}
